# Git ignore para projetos Flutter

# Arquivos/Diretórios gerados pelo Flutter e IDEs
/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/

# --- Arquivos específicos do Dart ---
# Logs de testes e arquivos temporários
*.dart_tool
*.log
*.lock
*.temp

# Arquivos gerados pelo build_runner (Mocks)
*.g.dart
*.mocks.dart

# --- Android ---
android/local.properties
/android/.gradle
/android/app/build
/android/.idea
/android/key.properties # Chave de assinatura NUNCA deve ser versionada

# --- iOS ---
/ios/.build
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcodeproj/project.pbxproj.unresolved
/ios/Runner.xcodeproj/xcuserdata/

# --- Dependências (node_modules, etc., se usados) ---
/node_modules

# --- Variáveis de Ambiente e Segredos ---
.env
.env.staging
.env.production